@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #5c16c5;
  overflow: hidden;
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

button,
a,
input,
textarea,
[data-no-drag] {
  -webkit-app-region: no-drag;
}
